#header {
  text-align: center;
}

#credentials {
  flex-direction: column;
  text-align: center;
}

#journal {
  width: 50%;
  height: 200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#entry {
  width: 100%;
  height: 100%;
}

#save {
  margin-top: 20px;
}

.container {
  align-items: center;
  text-align: center;
}